In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv("online_retail_II.csv.zip") 
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

In [ ]:
df.shape

(1067371, 8)

In [ ]:
# Removing null values

df.dropna(subset=['Customer ID', 'Description'], inplace=True)

In [ ]:
# Removing cancelled invoices

C_Invoices = df['Invoices'].astype(str).str.startswith("C")   #Cancelled orders
df = df[~C_Invoices]   #Updating df after selecting non_cancelled orders row
df.shape

In [ ]:
# Removing negative and empty values

df = df[(df['Quantity'] > 0) & (df['Price'] > 0)]

In [ ]:
# Convert str to datetime format

df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])

In [ ]:
# New columns

df['TotalPrice'] = df['Quantity'] * df['Price']
df['Month'] = df['InvoiceDate'].dt.month
df['Day'] = df['InvoiceDate'].dt.day_name()
df['Hour'] = df['InvoiceDate'].dt.hour
df.shape

(824364, 12)